<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Edit Window</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="{{url_for('static',filename='fonts/font-awesome.min.css')}}">
</head>

<body id="page-top">
    <div id="wrapper">
        <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0" style="background-image:url(&quot;{{url_for('static',filename='img/jeremy-bishop-G9i_plbfDgk-unsplash.jpg')}}&quot;);">
            <div class="container-fluid d-flex flex-column p-0"><a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#"><img src="{{url_for('static',filename='img/knustlogo.png')}}"><div class="sidebar-brand-text mx-3"><span>ADMIN PORTAL</span></div></a>
                <hr class="sidebar-divider my-0">
                <ul class="nav navbar-nav text-light" id="accordionSidebar">
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/admin/dashboard" style="font-size: 16px;"><i class="fas fa-tachometer-alt"></i><span>Dashboard</span></a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="/admin/setApplicationWindow" style="font-size: 16px;"><i class="fas fa-user-clock"></i><span>Set application window</span></a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/selectedApplicants" style="font-size: 16px;"><i class="fas fa-table"></i><span>Manage Applications</span></a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/admin/startNewYear" style="font-size: 16px;"><i class="far fa-calendar-alt"></i><span>Start New Year</span></a></li>
                </ul>
                <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button></div>
            </div>
        </nav>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
                    <div class="container-fluid"><button class="btn btn-link d-md-none rounded-circle mr-3" id="sidebarToggleTop" type="button" style="color: rgb(6,8,11);"><i class="fas fa-bars"></i></button>
                        <ul class="nav navbar-nav flex-nowrap ml-auto">
                            <div class="d-none d-sm-block topbar-divider"></div>
                            <li class="nav-item dropdown no-arrow" role="presentation">
                                <div class="nav-item dropdown no-arrow"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#"><span class="d-none d-lg-inline mr-2 text-gray-600 small">Admin</span></a>
                                    <div class="dropdown-menu shadow dropdown-menu-right animated--grow-in"
                                        role="menu">
                                        <div class="dropdown-divider"></div><a class="dropdown-item" role="presentation" href="/logout"><i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Logout</a></div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
                <div class="container-fluid">
                    <h3 class="text-dark mb-1"></h3>
                </div>
                <div class="container-fluid">
                    <h3 class="text-dark mb-4"></h3>
                    <div class="row mb-3">
                        <div class="col-lg-8 offset-lg-2">
                            <div class="card mb-3">
                                <div class="card-body text-center shadow">
                                    <div class="mb-3"></div>
                                    <div class="mb-3">
                                        <div class="row">
                                            <div class="col">
                                                <h3 class="text-left"><strong>Change application window</strong><br><hr></h3>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <form method="post" action="/admin/editApplicationWindow">
                                                    <div class="form-row">
                                                        <div class="col">
                                                            <div class="form-group"><label for="last_name"><strong>Start Date</strong><br></label><input class="form-control" type="datetime-local" name="startDate" required=""></div>
                                                        </div>
                                                    </div>
                                                    <div class="form-row">
                                                        <div class="col">
                                                            <div class="form-group"><label for="first_name"><strong>End Date</strong><br></label><input class="form-control" type="datetime-local" name="endDate" required=""></div>
                                                        </div>
                                                    </div>
                                                    <div class="form-row">
                                                        <div class="col">
                                                            <div class="form-group"><label for="username"><strong>Number Of slots</strong><br></label><input class="form-control" type="number" name="slot" min="1" required=""></div>
                                                        </div>
                                                    </div>
                                                    <div class="form-row">
                                                        <div class="col">
                                                            <p>{{msg}}</p>
                                                        </div>
                                                    </div>
                                                    <div class="form-group"><button class="btn btn-dark" type="submit" style="background-color: rgb(10,10,11);"><strong>set application window</strong></button></div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="bg-white sticky-footer">
                <div class="container my-auto">
                    <div class="text-center my-auto copyright"><span>Copyright © UTAG GUSSS PORTAL 2021</span></div>
                </div>
            </footer>
        </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a></div>
       <script src="{{url_for('static',filename='js/jquery.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/bootstrap.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/bs-init.js')}}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
    <script src="{{url_for('static',filename='js/theme.js')}}"></script>
</body>

</html>